<footer > 
    <div class="navbar navbar-inverse navbar-fixed-bottom " >
        <div class="container ">
            <div class="row ">
                <div class="col-md-6 footerElements ">
                    <a href="# ">Copyright © 2016 - Todos los Derechos Reservados</a>        
                </div>
                <div class="col-md-6 footerElements ">
                    <a href="form.html">Contacta con Nosotros</a>        
                </div>
            </div>           
        </div>
    </div>
</footer>